<div class="sidebar active">
		<ul>
			<li psui-accordion-element title="{{'menu.member.title' | translate}}" icon-class="glyphicon-list">
				<ul>
					<li><a href="#/registry/new/{{'uri://registries/member#'|uriescape}}"><span>New</span></a></li>
					<li><a href="#/search/{{'uri://registries/member#'|uriescape}}"><span>Search</span></a></li>
				</ul>
			</li>
			<li psui-accordion-element title="Company" icon-class="glyphicon-list">
				<ul>
					<li><a href="#/registry/new/{{'uri://registries/company'|uriescape}}"><span>New</span></a></li>
					<li><a href="#/search/{{'uri://registries/company'|uriescape}}"><span>Search</span></a></li>
				</ul>
			</li>
			<li psui-accordion-element title="Agent" icon-class="glyphicon-list">
				<ul>
					<li><a href="#/registry/new/{{'uri://registries/agent'|uriescape}}"><span>New</span></a></li>
					<li><a href="#/search/{{'uri://registries/agent'|uriescape}}"><span>Search</span></a></li>
				</ul>
			</li>
			<li psui-accordion-element title="Club" icon-class="glyphicon-list">
				<ul>
					<li><a href="#/registry/new/{{'uri://registries/club'|uriescape}}"><span>New</span></a></li>
					<li><a href="#/search/{{'uri://registries/club'|uriescape}}"><span>Search</span></a></li>
				</ul>
			</li>
			<li psui-accordion-element title="Coach" icon-class="glyphicon-list">
				<ul>
					<li><a href="#/registry/new/{{'uri://registries/coach'|uriescape}}"><span>New</span></a></li>
					<li><a href="#/search/{{'uri://registries/coach'|uriescape}}"><span>Search</span></a></li>
				</ul>
			</li>
			<li psui-accordion-element title="Delegate observer" icon-class="glyphicon-list">
				<ul>
					<li><a href="#/registry/new/{{'uri://registries/delegate_observer'|uriescape}}"><span>New</span></a></li>
					<li><a href="#/search/{{'uri://registries/delegate_observer'|uriescape}}"><span>Search</span></a></li>
				</ul>
			</li>
			<li psui-accordion-element title="Delegate of match" icon-class="glyphicon-list">
				<ul>
					<li><a href="#/registry/new/{{'uri://registries/delegate_of_match'|uriescape}}"><span>New</span></a></li>
					<li><a href="#/search/{{'uri://registries/delegate_of_match'|uriescape}}"><span>Search</span></a></li>
				</ul>
			</li>
			<li psui-accordion-element title="Member issf" icon-class="glyphicon-list">
				<ul>
					<li><a href="#/registry/new/{{'uri://registries/member_issf'|uriescape}}"><span>New</span></a></li>
					<li><a href="#/search/{{'uri://registries/member_issf'|uriescape}}"><span>Search</span></a></li>
				</ul>
			</li>
			<li psui-accordion-element title="Player" icon-class="glyphicon-list">
				<ul>
					<li><a href="#/registry/new/{{'uri://registries/player'|uriescape}}"><span>New</span></a></li>
					<li><a href="#/search/{{'uri://registries/player'|uriescape}}"><span>Search</span></a></li>
				</ul>
			</li>
			<li psui-accordion-element title="Referee" icon-class="glyphicon-list">
				<ul>
					<li><a href="#/registry/new/{{'uri://registries/referee'|uriescape}}"><span>New</span></a></li>
					<li><a href="#/search/{{'uri://registries/referee'|uriescape}}"><span>Search</span></a></li>
				</ul>
			</li>
			<li psui-accordion-element title="Stadium" icon-class="glyphicon-list">
				<ul>
					<li><a href="#/registry/new/{{'uri://registries/stadium'|uriescape}}"><span>New</span></a></li>
					<li><a href="#/search/{{'uri://registries/stadium'|uriescape}}"><span>Search</span></a></li>
				</ul>
			</li>
			<li psui-accordion-element title="Team" icon-class="glyphicon-list">
				<ul>
					<li><a href="#/registry/new/{{'uri://registries/team'|uriescape}}"><span>New</span></a></li>
					<li><a href="#/search/{{'uri://registries/team'|uriescape}}"><span>Search</span></a></li>
				</ul>
			</li>
			<li psui-accordion-element title="User issf" icon-class="glyphicon-list">
				<ul>
					<li><a href="#/registry/new/{{'uri://registries/user_issf'|uriescape}}"><span>New</span></a></li>
					<li><a href="#/search/{{'uri://registries/user_issf'|uriescape}}"><span>Search</span></a></li>
				</ul>
			</li>
			<li psui-accordion-element title="My profile" icon-class="glyphicon-user">
				<ul>
					<li><a href="#/personal-page"><span>Profil</span></a></li>
					<li><a href="#/personal-change-password"><span>Zmena hesla</span></a></li>
				</ul>
			</li>
			<li psui-accordion-element title="Oprávnenia" icon-class="glyphicon-user">
				<ul>
					<li><a href="#/registry/new/{{'uri://registries/security#groupmaster'|uriescape}}" class="active"><span>Nová skupina</span></a></li>
					<li><a href="#/security/group/edit/"><span>Skupiny oprávnení</span></a></li>
					<li><a href="#/security/user/edit"><span>Oprávnenia používateľov</span></a></li>
				</ul>
			</li>
			<li psui-accordion-element title="Schémy" icon-class="glyphicon-info-sign">
				<ul>
					<li><a href="#/schema/edit"><span>Schema List</span></a></li>
				</ul>
			</li>
		</ul>
</div>
